python-dotenv
kaggle
tqdm
opencv-python
pytorch-lightning==1.5.10
mtcnn
tabulate
wandb
pandas
numba
mediapipe
face_alignment==1.3.5
efficientnet_pytorch
timm
grad-cam
streamlit
altair
albumentations
loguru
