python-dotenv
kaggle
tqdm
opencv-python
pytorch-lightning==1.5.10
mtcnn
tabulate
wandb
pandas
numba
mediapipe
face_alignment
efficientnet_pytorch
timm
grad-cam
streamlit
altair
albumentations
loguru
jsonschema==4.18.0
